@page "/"

<PageTitle>Movies</PageTitle>

<h1 class="text-center">Welcome to the movie database</h1>

<!-- Links to Search Movies and Popular Movies pages -->
<div class="d-flex justify-content-center mt-4">
    <a href="/search-movies" class="btn btn-primary me-2">Search Movies</a>
    <a href="/popular-movies" class="btn btn-primary">Popular Movies</a>
</div>
